<div class="md-padding" ng-cloak="">
	<md-content class="md-padding" layout-xs="column" layout="row"
		layout-align="center center">
	<div flex-xs flex-gt-xs layout="row" layout-align="center center">
		<div flex-xs flex-gt-xs="70" flex-gt-sm="40">
			<md-card> <md-grid-list md-cols="2" md-cols-sm="2"
				md-cols-md="2" md-cols-gt-md="2" md-row-height-gt-md="1:1">
			<md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1"
				md-colspan-xs="1" ng-class=""> <md-icon
				style="margin: 0 0 0;
  width: 100%;
  height: 100%;"
				md-svg-icon="avatars:svg-1"></md-icon> <md-icon
				style="margin: 0 0 0;
  width: 100%;
  height: 100%;"
				md-svg-icon="avatars:svg-2"></md-icon> </md-grid-tile> </md-grid-list> <md-card-title>
			<md-card-title-text layout-align="center center">
			<span class="md-headline">Sign In</span> </md-card-title-text> </md-card-title> <md-card-content>
			<md-card-actions layout="row" layout-align="center center">
			<md-button
				class="md-icon-button" ng-click="twitterLogin()"
				target="_self"> <md-icon md-svg-src="twitter"></md-icon></md-button>
			<md-button
				class="md-icon-button" ng-click="facebookLogin()"
				target="_self"><md-icon md-svg-src="facebook"> </md-icon></md-button> </md-input-container> </md-card-actions> </md-card-content> </md-card-content> </md-card>
		</div>
	</div>

	</md-content>
</div>


