<div class="md-padding" ng-cloak="" block-ui="main" >
	<md-content class="md-padding" layout-xs="column" layout="row"
		layout-align="center center">
	<div flex-xs flex-gt-xs layout="row" layout-align="center center">
		<div flex-xs flex-gt-xs="70" flex-gt-sm="40">
			<md-card> 
			<img ng-src="./views/paper.jpg" class="md-card-image" alt="paper">
			 <md-card-title>
			<md-card-title-text layout-align="center center">
			<span class="md-headline">Sign In</span> </md-card-title-text> </md-card-title> <md-card-content>
			<md-card-actions layout="row" layout-align="center center">
			<md-button
				class="md-icon-button" ng-click="twitterLogin()"
				target="_self"> <md-icon md-svg-src="twitter"></md-icon></md-button>
			<md-button
				class="md-icon-button" ng-click="facebookLogin()"
				target="_self"><md-icon md-svg-src="facebook"> </md-icon></md-button> </md-input-container> </md-card-actions> </md-card-content> </md-card-content> </md-card>
		</div>
	</div>

	</md-content>
</div>


