
<section hide-gt-xs >
  			<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      		<md-toolbar class="md-theme-light md-tall">
        		<h1 class="md-toolbar-tools">Follow Me</h1>
      		</md-toolbar>
     	 	<md-list>
		 <md-subheader class="md-no-sticky">My Notebooks</md-subheader>
  <md-list-item  ng-repeat="note in notebooks|reverse" ng-class="{'selected':note===notebook}"  ng-click="showFromSidenav(notebooks.length-1-$index)">
    <md-icon class="material-icons">book</md-icon>
    <p> {{ note.title }} </p>
  </md-list-item>
  </md-list>
    </md-sidenav>
  		</section>
<div layout="row"  ng-cloak layout-xs="column"  block-ui="main" >
  <div flex-gt-sm="25" flex-xs flex-gt-xs="35">
   <md-content >
   <center hide-xs>
   <md-icon style="margin: 0 0 auto;
  width: 128px;
  height: 128px;"md-svg-icon="avatars:svg-1" ></md-icon>
  </center>
      <md-list flex hide-xs>
      
        <md-subheader class="md-no-sticky">My Notebooks</md-subheader>
        <md-divider></md-divider>
        <md-list-item class="md-2-line" ng-repeat="note in notebooks|reverse" ng-class="{'selected':note===notebook}"  ng-click="showNotebook(notebooks.length-1-$index)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ note.title }}</h3>
            <p>{{ note.date | date: yyyy/MM/dd}}</p>
          </div>
          <md-button class="md-secondary md-icon-button" md-ink-ripple="#FF0000" ng-click="deleteNote(note._id, $event)" aria-label="delete">
            <md-icon>delete</md-icon>
          </md-button>
        <md-divider ></md-divider>
        </md-list-item>
        </md-list>
        </md-content>      
  </div>
  <div flex-gt-sm="75" flex-xs flex-gt-xs="65">
  	<div layout="row" ng-hide="notebook" layout-align="center center" hide-xs>
  		<div layout="column" style="min-height:80vh" layout-align="center center">
  			<p layout-align="center center" class="md-subhead description" ng-show="notebooks.length">Click on any one of the notebooks!</p>
  			<p layout-align="center center" class="md-subhead description" ng-show="!notebooks.length"><md-button  class="md-primary md-hue-1"ng-click="newBookDialog()">Create your first notebook</md-button> </p>
  		</div>
  	</div>
  	<div layout="row" ng-hide="notebook" style="min-height:80vh" layout-align="center top" show-xs hide-gt-xs>
  	<div ng-show="!notebooks.length"  layout-align="center center">
  	<p layout-align="center center" class="md-subhead description" ><md-button  class="md-primary md-hue-1"ng-click="newBookDialog()">Create your first notebook</md-button></p>
  		</div>
  		<md-list flex ng-show="notebooks.length">
      
        <md-subheader class="md-no-sticky">My Notebooks</md-subheader>
        <md-divider></md-divider>
        <md-list-item class="md-2-line" ng-repeat="note in notebooks|reverse" ng-class="{'selected':note===notebook}"  ng-click="showNotebook(notebooks.length-1-$index)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ note.title }}</h3>
            <p>{{ note.date | date: yyyy/MM/dd}}</p>
          </div>
          <md-button class="md-secondary md-icon-button" md-ink-ripple="#FF0000" ng-click="deleteNote(note._id, $event)" aria-label="delete">
            <md-icon>delete</md-icon>
          </md-button>
        <md-divider ></md-divider>
        </md-list-item>
        </md-list>
  	</div>
	<md-card ng-if="notebook">
  		<md-card-title>
    		<md-card-title-media>
      		<div class="md-media-sm card-media" layout layout-align="center center" >
        		<md-icon class="material-icons"style="color:grey">book</md-icon>
      		</div>
    		</md-card-title-media>
    	<md-card-title-text>
      <span class="md-headline">{{notebook.title}}</span>
      <span class="md-subhead description">{{notebook.description}}</span>
    </md-card-title-text>
  </md-card-title>
</md-card >
<md-list ng-if="notebook">
<md-subheader class="md-no-sticky">My todos</md-subheader>

<p layout-align="center center" class="md-subhead description" ng-hide="notebook.todos.length"><md-button  class="md-primary md-hue-1"ng-click="newTodoDialog()">Create your first todo</md-button> </p>
  	
  <md-list-item ng-repeat="t in notebook.todos" ng-click="gotoTodoList(t._id, $index)"  class="noright" ng-show="notebook.todos.length">
    
    <p><code>{{$index+1}}.</code> {{ t.title }} <code>{{t.updated | date: yyyy/MM/dd}}</code></p>
    <md-button class=" md-secondary md-icon-button md-accent" ng-disabled="!t.done">
    	<md-icon >done_all</md-icon>
    </md-button>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
  </div>

 <md-fab-speed-dial md-direction="left" style="position:fixed"
                       class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': true }"
                       ng-mouseenter="true" ng-mouseleave="false" ng-click="showGridBottomSheet()">
      <md-fab-trigger>
       <md-button aria-label="menu" class="md-fab md-warn">
          <md-icon class="material-icons" aria-label="menu"  >add</md-icon>
        </md-button>
      </md-fab-trigger>
    </md-fab-speed-dial> 
</div>