<div layout="row"  ng-cloak layout-xs="column">
  <div flex-gt-sm="25" flex-xs>
   <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">My Notebooks</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="note in notebooks|reverse" ng-class="{'selected':note===notebook}"  ng-click="showNotebook(notebooks.length-1-$index)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ note.title }}</h3>
            <p>{{ note.date | date: yyyy/MM/dd}}</p>
          </div>
          <md-button class="md-secondary md-icon-button" md-ink-ripple="#FF0000" ng-click="deleteNote(note._id, $event)" aria-label="delete">
            <md-icon>delete</md-icon>
          </md-button>
        <md-divider ></md-divider>
        </md-list-item>
        </md-list>
        </md-content>      
  </div>
  <div flex-gt-sm="75" flex-xs>
  	<div layout="row" ng-hide="notebook" layout-align="center center">
  		<div layout="column" style="min-height:80vh" layout-align="center center">
  			<p layout-align="center center" class="md-subhead description">Click on any one of the notebooks!</p>
  		</div>
  	</div>
	<md-card ng-if="notebook">
  		<md-card-title>
    		<md-card-title-media>
      		<div class="md-media-sm card-media" layout layout-align="center center" >
        		<md-icon class="material-icons"style="color:grey">book</md-icon>
      		</div>
    		</md-card-title-media>
    	<md-card-title-text>
      <span class="md-headline">{{notebook.title}}</span>
      <span class="md-subhead description">{{notebook.description}}</span>
    </md-card-title-text>
  </md-card-title>
</md-card >
<md-list ng-if="notebook">
<md-subheader class="md-no-sticky">My todos</md-subheader>
  <md-list-item ng-repeat="t in notebook.todos" ng-click="gotoTodoList(t._id, $index)"  class="noright">
    <md-checkbox class="md-secondary" ng-model="t.done"></md-checkbox>
    <p>{{ t.title }} <code>{{t.updated | date: yyyy/MM/dd}}</code></p>
    <md-icon class="md-secondary">done_all</md-icon>
  </md-list-item>
</md-list>
  </div>

 <md-fab-speed-dial md-direction="left" style="position:fixed"
                       class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': true }"
                       ng-mouseenter="true" ng-mouseleave="false" ng-click="showGridBottomSheet()">
      <md-fab-trigger>
       <md-button aria-label="menu" class="md-fab md-warn">
          <md-icon class="material-icons" aria-label="menu"  >add</md-icon>
        </md-button>
      </md-fab-trigger>
    </md-fab-speed-dial> 
</div>