<md-dialog ng-cloak flex-xs flex-gt-xs flex-gt-sm="50" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Notebook</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content >
    <div class="md-padding">
      <form name="newNotebookForm" ng-submit="newForm()" action="">
			<md-input-container flex class="md-block">
				<label>Title</label> 
					<input ng-maxlength="100" required name="title" ng-model="notebookData.title">
						<div ng-messages="newNotebookForm.title.$error" ng-show='newNotebookForm.title.$touched'>
							<div ng-message="required">This is required.</div>
						</div>
			</md-input-container>
			<md-input-container class="md-block">
    	    	<label>Description</label>
          		<textarea ng-model="notebookData.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        	</md-input-container>
		</form>
	</div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <span flex></span>
      <md-button  class="md-primary" ng-click="hide()">
       Cancel
      </md-button>
      <md-button ng-disabled="newNotebookForm.$invalid" class="md-accent" ng-click="addNewnote()">
        Done
      </md-button>
    </md-dialog-actions>
 
</md-dialog>