<md-dialog class="fullscreen-dialog" ng-cloak flex-xs flex-gt-xs flex-gt-sm="50" >
   	<div layout="row">
   		
    	<md-subheader class="md-no-sticky">Task: {{solution.task}}</md-subheader>
   		<div flex=" "></div>
   		<div>
   		<md-button class="md-icon-button md-primary" ng-click="hide()">
        <md-icon class="material-icon">done</md-icon>
      </md-button>
      </div>
     
   	</div> 
    <md-dialog-content >
     <md-divider></md-divider>
    	<md-content class="md-padding">
    	<code style="color:#37474F"><pre>{{solution.solution}}</pre></code>
    	</md-content>
    </md-dialog-content>
 
</md-dialog>