<md-dialog class="fullscreen-dialog" ng-cloak flex-xs flex-gt-xs flex-gt-sm="75">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Todo</h2>
        
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="row">
    <div class="md-padding" flex-gt-xs="50" flex-xs layout-xs="column" layout-gt-xs = "column">
      <form name="newTodoForm" ng-submit="newForm()" action="">
			<md-input-container flex class="md-block">
				<label>Title</label> 
					<input ng-maxlength="100" required name="title" ng-model="todoData.title">
						<div ng-messages="newTodoForm.title.$error" ng-show='newTodoForm.title.$touched'>
							<div ng-message="required">This is required.</div>
						</div>
			</md-input-container>
			<md-datepicker ng-model="todoData.deadline" md-placeholder="Deadline"></md-datepicker>
        	</form>
        	<form name="inputTodoForm" ng-submit="addTodoToList()">
        	<md-input-container flex class="md-block">
				<label>Todos</label> 
					<textarea ng-model="task.task" name="todo"md-maxlength="500" rows="3" md-select-on-focus></textarea>
						<div ng-messages="inputTodoForm.todo.$error" ng-show='inputTodoForm.todo.$touched'>
							<div ng-message="required">This is required.</div>
						</div>
			</md-input-container>
			<md-input-container flex class="md-block">
				<label>Link</label> 
					<input ng-maxlength="100"  name="link" ng-model="task.link">
					
						<div class="hint md-caption" ng-show="true">After adding the todo and link press 'enter'. You can add more after that. Link can be empty</div>
						<div ng-messages="inputTodoForm.link.$error" ng-show='inputTodoForm.link.$touched'>
						</div>
			</md-input-container>
			
      </form>
			
		
	</div>
	
	<div flex-gt-xs="50" hide-xs flex-xs layout-gt-xs = "column" layout-xs="column" style="max-height:100%;overflow-y:scroll">
	
	<md-list>
  <md-subheader class="md-no-sticky">Added Tasks</md-subheader>
  <md-divider></md-divider>
  <md-list-item ng-repeat="t in todoData.tasks">
    <p>{{t.task}}</p>
    <md-button class="md-icon-button" ng-show="t.link"><md-icon>link<md-icon></md-button>
    <md-divider></md-divider>
  </md-list-item>
</md-list>


	</div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <span flex></span>
      
      <md-button  class="md-primary" ng-click="hide()">
       Cancel
      </md-button>
      <md-button ng-disabled="newTodoForm.$invalid" class="md-accent" ng-click="addNewtodo()">
        Done
      </md-button>
    </md-dialog-actions>
 
</md-dialog>