	<md-card>
		
  		<md-card-title>
    	<md-card-title-text layout-align="center center">
      <span class="md-headline">{{todo.title}}</span>
      <span class="md-subhead description">{{todo.description}} </span>
      <code>Last Updated at {{todo.updated |date:yyyy/mm/ss}} {{todo.updated |date:"HH:mm:ss"}}</code>
    </md-card-title-text>
    <md-card-content>
     <md-icon class="material-icons"style="color:grey">timer</md-icon>{{todo.deadline|date:yyyy/mm/dd}}
    </md-card-content>
  </md-card-title>
</md-card >
  <md-list>
  <md-subheader class="md-no-sticky">Tasks</md-subheader>
  <md-divider></md-divider>
  <md-list-item ng-repeat="t in todo.tasks">
    <md-checkbox ng-model="t.done"></md-checkbox>
    <p>{{t.task}}</p>
    <md-divider></md-divider>
  </md-list-item>
</md-list>