	
	<md-card>
  		<md-card-title>
    	<md-card-title-text layout-align="center center">
      <span class="md-headline">{{todo.title}}</span>
      <span class="md-subhead description">{{todo.description}} </span>
      <code>Last Updated at {{todo.updated |date:yyyy/mm/ss}} {{todo.updated |date:"HH:mm:ss"}}</code>
    </md-card-title-text>
    <md-card-content>
     <md-icon class="material-icons"style="color:grey">timer</md-icon>{{todo.deadline|date:yyyy/mm/dd}}
    </md-card-content>
  </md-card-title>
</md-card >
<md-progress-linear ng-disabled="percent>=100" md-mode="buffer" class="md-warn"value="{{percent}}"
                      md-buffer-value="{{percent}}"></md-progress-linear>
  <md-list>
  <md-subheader class="md-no-sticky">Tasks <kbd ng-show="percent==100">({{percent}}% complete)</kbd></md-subheader>
  
  <md-divider></md-divider>
  <md-list-item ng-repeat="t in todo.tasks" md-ink-ripple="false">
    <md-checkbox ng-model="t.done" ng-disabled="t.done==true" ng-click="saveTaskToDB($index)"></md-checkbox>
    <p>{{t.task}} </p>
    <md-button class="md-icon-button md-accent" ng-disabled="!t.done">
    <md-icon >done</md-icon>
    </md-button>
    <md-button class="md-icon-button md-primary" ng-disabled="!t.link.length" ng-click="openLink(t.link)">
    	<md-icon >link</md-icon>
    </md-button>
    <md-divider></md-divider>
    
  </md-list-item>
</md-list>
<md-fab-speed-dial md-direction="left" style="position:fixed"
                       class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': true }"
                       ng-mouseenter="true" ng-mouseleave="false" ng-click="showGridBottomSheet()">
      <md-fab-trigger>
       <md-button aria-label="menu" class="md-fab md-warn" ng-click="newTaskDialog($event)">
          <md-icon class="material-icons" aria-label="menu"  >add</md-icon>
        </md-button>
      </md-fab-trigger>
    </md-fab-speed-dial>