
<div flex layout="column"
	style="background-size: cover; background-repeat: no-repeat; background-position: center center;">
	
	<!-- <md-card style="background-color: #ECEFF1">
		<div layout="row" layout-align="center center">
			<md-card style="margin-top: 50px;""> <img
				ng-src="https://graph.facebook.com/993477204081305/picture?type=large" alt="profile_pic"
				style="position: relative; border-radius: 4px; padding: 5px 5px 5px 5px; height: 128px; width: 128px; border-color: '#fff'; border-width: 10px;"></img>
			</md-card>
		</div>
		<div layout="row" layout-align="center center">
			<span class="md-headline">Akash Gupta</span>
		</div>
	</md-card>-->
	<!-- DIVIDE THE PAGE IN THE RATIO 25:75 FOR FLEX -->
	<div flex layout="row" layout-xs="column" layout-sm="row">
		<div flex-gt-sm="25" flex-xs flex-sm="40" layout="column">
			<!-- BASIC INFORMATION -->
			<md-content layout=column>
			
		<div layout="row" layout-align="center center">
			<md-card style="margin-top: 30px;""> <img
				ng-src="https://graph.facebook.com/993477204081305/picture?type=large" alt="profile_pic"
				style="position: relative; border-radius: 4px; padding: 5px 5px 5px 5px; height: 128px; width: 128px; border-color: '#fff'; border-width: 10px;"></img>
			</md-card>
		</div>
		<div layout="row" layout-align="center center">
			<span class="md-headline">Akash Gupta</span>
		</div>
	
			</md-content>
			<md-content layout="column">
				<md-card style="background-color:#ECEFF1;"> 
					<md-subheader class="md-no-sticky">Basic Information</md-subheader>
						<md-list class="md-dense"> 
							<md-list-item ng-click="">
    							<md-icon>person</md-icon>
    							<p> Akash Kumar Gupta </p>
  							</md-list-item> 
  							<md-list-item ng-click="">
    							<md-icon>email</md-icon>
    							<p> yesitsakash@gmail.com </p>
  							</md-list-item> 
  							<md-list-item ng-click="">
    							<md-icon>place</md-icon>
    							<p> KIIT University, Bhubaneswar </p>
  							</md-list-item> 
  							<md-list-item ng-click="">
    							<md-icon>cake</md-icon>
    							<p>March 10, 1995 </p>
  							</md-list-item> 
						</md-list> 
				</md-card> 
			</md-content>
			<md-content layout="column">
				<md-card> 
						<md-list flex>
       						 <md-subheader class="md-no-sticky"><span ><md-button ng-click="toggleExistence()" class="md-icon-button md-accent"><md-icon>{{show.existence_icon}}</md-icon></md-button></span>Online existence </md-subheader>
       						 
        					<md-list-item ng-show="show.existence" ng-repeat="item in existence" ng-class="{'selected':item.link===link}" ng-click="openLink(item.link)">
    							<md-icon class="md-primary">{{item.icon}}</md-icon>
   								 	<p class="md-body-2">{{ item.title }}</p>
   								 	<md-divider ng-if="!$last")></md-divider>
  							</md-list-item>
        						
						</md-list>
					
				</md-card> 
			</md-content>
						<md-content layout="column">
				<md-card> 
					
						<md-list flex>
       						 <md-subheader class="md-no-sticky"><span><md-button class="md-icon-button md-accent" ng-click="toggleCert()"><md-icon>{{show.cert_icon}}</md-icon></md-button></span>Certifications and Minor projects</md-subheader>
       							 <md-list-item ng-show="show.cert" class="md-2-line md-dense " ng-repeat="item in certifications" ng-class="{'selected':item.link===link}" ng-click="openLink(item.link)" >
          							<div class="md-list-item-text" layout="column">
            						<h3>{{ item.title }}</h3>
            						<p>{{ item.description }}</p>
          							</div>
          							
        <md-divider ng-if="!$last")></md-divider>
        					</md-list-item>
        					
						</md-list>
					
				</md-card> 
			</md-content>
						
		</div>
		<div flex="" layout="column" >
		<md-content>
			<md-card>
			<md-subheader class="md-no-sticky">About me</md-subheader>
				<md-list class="md-dense">
				<md-list-item ng-click="">
    				<p class="md-body-1" style="text-align:justify"> Currently a 7th semester(B.Tech, Computer Science) student at KIIT University. I love coding, whether it's <a ng-href="https://github.com/AkashKG/data-structure" style="text-decoration:none"target="_blank">Data Structure</a> or a web-app.
    				I like building things, shaping it to real existence.  <br>
<span >When I'm not sitting behind my laptop, I enjoy nature, movies, listening music, and to some extent sketching.</span>
    				</p>
  					</md-list-item> </md-list>
			</md-card>
			</md-content>
			<md-content>
			<md-card >
			<div layout="row">
			<div flex-gt-sm="95" flex-sm="90" flex-xs="80">
			<md-subheader class="md-no-sticky">Education</md-subheader>
			</div>
			<div flex-gt-sm flex-xs >
				<md-switch ng-model="educationSwitch" style="right:0"></md-switch>
			</div>
			</div>
				<div layout-gt-sm="row" layout-lt-sm="column">
				<div flex=33>
						<md-list ng-show="educationSwitch">
							<md-list-item class="md-3-line">
          					<div class="md-list-item-text">
           					 <h3>Kalinga Institute of Industrial Technology</h3>
           			 		<h4>Computer Science (2013-17)</h4>
           			 <p>Undergraduate, 7th semester. CGPA: 8.99</p>
          		</div>
          		
        </md-list-item>
        </md-list>
					</div>
					<div flex=33>
						<md-list ng-show="educationSwitch">
							<md-list-item class="md-3-line" >
          					<div class="md-list-item-text">
           					 <h3>D.A.V public school, Bistupur</h3>
           			 		<h4>Intermediate PCMCE (2011-2013)</h4>
           			 <p>Percentage: 83.6</p>
          		</div>
          		
        </md-list-item>
        </md-list>
					</div>
					
					<div flex=33>
						<md-list ng-show="educationSwitch">
							<md-list-item class="md-3-line" >
          					<div class="md-list-item-text">
           					 <h3>D.A.V public school, Adityapur</h3>
           			 		<h4>Matriculation</h4>
           			 <p>CGPA: 9.8</p>
          		</div>
          		
        </md-list-item>
        </md-list>
					</div>
					
				</div>
			</md-card>  
			</md-content>
			<md-card style="background-color:#ECEFF1;">
			
			<md-subheader class="md-no-sticky">Techology I love</md-subheader>
				<div layout-gt-sm="row" layout-xs="column">
				<div flex-gt-sm="50">
				<md-list>
				
					<md-list-item class="md-2-line" ng-repeat="t in thingsILove">
         			 <img ng-src="{{t.icon}}" class="md-avatar" alt="{{t.name}}" />
          			<div class="md-list-item-text">
           			 <h3>{{t.name}}</h3>
           			 <p>{{t.description}}</p>
          		</div>
        </md-list-item>
        
				</md-list>
				</div>
				<div flex-gt-sm="50">
				<md-list>
				
					<md-list-item class="md-2-line" ng-repeat="t in programming">
         			 <img ng-src="{{t.icon}}" class="md-avatar" alt="{{t.name}}" />
          			<div class="md-list-item-text">
           			 <h3>{{t.name}}</h3>
           			 <p>{{t.description}}</p>
          		</div>
          		</div>
        </md-list-item>
        
				</md-list>
				</div>
			</md-card> 
			<md-content layout="column">
				<md-card> 
					
						<md-list flex>
       						 <md-subheader class="md-no-sticky"><span><md-button class="md-icon-button md-accent" ng-click="toggleTimeline()"><md-icon>{{show.timeline_icon}}</md-icon></md-button></span>Timeline | Projects & Experience</md-subheader>
       							 <md-list-item ng-show="show.timeline" class="md-2-line md-dense " ng-repeat="item in timeline" ng-class="{'selected':item.link===link}" ng-click="openLink(item.link)" >
          							<div class="md-list-item-text" layout="column">
            						<h3>{{ item.title }}</h3>
            						<p>{{ item.description }}</p>
          							</div>
          							
        <md-divider ng-if="!$last")></md-divider>
        					</md-list-item>
        					
						</md-list>
					
				</md-card> 
			</md-content>
			<md-content flex>
				<md-card> 
					<md-card-title style="text-align:center">
						<md-card-title-text>
							Why should you hire me?
						</md-card-title-text>
						</md-card-title>
							
						
							<md-list flex>
								<md-divider></md-diider>
								<md-list-item md-ink-ripple>
									If you are looking for someone who DO. 
								</md-list-item>
								<md-divider></md-divider>
								<md-list-item md-ink-ripple>
									If you are looking for someone eager to learn new technologies. 
								</md-list-item >
								<md-divider></md-divider>
								<md-list-item md-ink-ripple>
									If you are looking for someone who likes to work as a team. 
								</md-list-item>
								<md-divider></md-divider>
								<md-list-item md-ink-ripple>
									If you are looking for someone who loves solving challenges. 
								</md-list-item>
							</md-list>
							
					</md-card-title> 
				</md-card> 
			</md-content>
				
		</div>
		
	</div>
	<div flex layout="row" layout-xs="column" layout-sm="row">
		
	</div>
</div>