
<div ng-cloak>
	<md-content> 
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Basic Information"> 
				<md-card>
					<md-card-content>
						<form>
							<div layout-gt-sm="row" layout-xs="column">
							<div flex-xs="100" flex-gt-sm="45">
        						<md-input-container flex class="md-block">
									<label>Username</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>Full name</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
							
							<md-input-container flex class="md-block">
								<label>Email</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>College</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Current Location</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Image</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
						
							<div flex-gt-sm="75" hide-xs >
								<md-content layout=column>
			
								<div layout="row" layout-align="center center">
			<md-card style="margin-top: 30px;""> <img
				ng-src="https://graph.facebook.com/993477204081305/picture?type=large" alt="profile_pic"
				style="position: relative; border-radius: 4px; padding: 5px 5px 5px 5px; height: 128px; width: 128px; border-color: '#fff'; border-width: 10px;"></img>
			</md-card>
		</div>
		<div layout="row" layout-align="center center">
			<span class="md-headline">Akash Gupta</span>
		</div>
	
			</md-content>
			<md-content layout="column">
				<md-card style="background-color:#ECEFF1;"> 
					<md-subheader class="md-no-sticky">Basic Information</md-subheader>
						<md-list class="md-dense"> 
							<md-list-item ng-click="">
    							<md-icon>person</md-icon>
    							<p> Akash Kumar Gupta </p>
  							</md-list-item> 
  							<md-list-item ng-click="">
    							<md-icon>email</md-icon>
    							<p> yesitsakash@gmail.com </p>
  							</md-list-item> 
  							<md-list-item ng-click="">
    							<md-icon>place</md-icon>
    							<p> KIIT University, Bhubaneswar </p>
  							</md-list-item> 
						</md-list> 
				</md-card> 
			</md-content>
		</div>
							</div>
						</form>
					</md-card-content>
				</md-card>
			</md-tab> 
			<md-tab label="Online Existence"> 
          		<md-card>
					<md-card-content>
						<form>
							<div layout-gt-sm="row" layout-xs="column">
							<div flex-xs="100" flex-gt-sm="65">
								<div layout-gt-sm="row">
        						<md-input-container flex class="md-block">
									<label>Name</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>Url</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Url</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Url</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
							</div>
						
							<div flex-gt-sm="75" hide-xs >
							
							</div>
							</div>
						</form>
					</md-card-content>
				</md-card>
			</md-tab>
			<md-tab label="Timeline"> 
          		<md-card>
					<md-card-content>
						<form>
							<div layout-gt-sm="row" layout-xs="column">
							<div flex-xs="100" flex-gt-sm="65">
								<div layout-gt-sm="row">
        						<md-input-container flex class="md-block">
									<label>Name</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>Url</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>Description</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Url</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
									<label>Description</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
							</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Url</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
									<label>Description</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
							</div>
							</div>
						
							<div flex-gt-sm="75" hide-xs >
							
							</div>
							</div>
						</form>
					</md-card-content>
				</md-card>
			</md-tab>
			<md-tab label="Education"> 
          			<md-card>
					<md-card-content>
						<form>
							<div layout-gt-sm="row" layout-xs="column">
							<div flex-xs="100" flex-gt-sm="35">
								<div layout-gt-sm="row">
        						<md-input-container flex class="md-block">
									<label>Name</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>Description</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Description</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Description</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
							</div>
						
							<div flex-gt-sm="65" hide-xs >
								<md-content>
			<md-card >
			<div layout="row">
			<div flex-gt-sm="95" flex-sm="90" flex-xs="80">
			<md-subheader class="md-no-sticky">Education</md-subheader>
			</div>
			<div flex-gt-sm flex-xs >
				<md-switch ng-model="educationSwitch" style="right:0"></md-switch>
			</div>
			</div>
				<div layout-gt-sm="row" layout-lt-sm="column">
				<div flex=33>
						<md-list ng-show="educationSwitch">
							<md-list-item class="md-3-line">
          					<div class="md-list-item-text">
           					 <h3>Kalinga Institute of Industrial Technology</h3>
           			 		<h4>Computer Science (2013-17)</h4>
           			 <p>Undergraduate, 7th semester. CGPA: 8.99</p>
          		</div>
          		
        </md-list-item>
        </md-list>
					</div>
					<div flex=33>
						<md-list ng-show="educationSwitch">
							<md-list-item class="md-3-line" >
          					<div class="md-list-item-text">
           					 <h3>D.A.V public school, Bistupur</h3>
           			 		<h4>Intermediate PCMCE (2011-2013)</h4>
           			 <p>Percentage: 83.6</p>
          		</div>
          		
        </md-list-item>
        </md-list>
					</div>
					
					<div flex=33>
						<md-list ng-show="educationSwitch">
							<md-list-item class="md-3-line" >
          					<div class="md-list-item-text">
           					 <h3>D.A.V public school, Adityapur</h3>
           			 		<h4>Matriculation</h4>
           			 <p>CGPA: 9.8</p>
          		</div>
          		
        </md-list-item>
        </md-list>
					</div>
					
				</div>
			</md-card>  
			</md-content>
							</div>
							</div>
						</form>
					</md-card-content>
				</md-card>
			</md-tab>
			<md-tab label="Technology"> 
          		<md-card>
					<md-card-content>
						<form>
							<div layout-gt-sm="row" layout-xs="column">
							<div flex-xs="100" flex-gt-sm="65">
								<div layout-gt-sm="row">
        						<md-input-container flex class="md-block">
									<label>Name</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>Description</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Description</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Description</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
							<div layout-gt-sm="row">
        						<md-input-container flex class="md-block">
									<label>Name</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>Description</label> 
									<input ng-maxlength="100"  name="link" ng-model="taskData.link">
								</md-input-container>
								</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Description</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							</div>
							<div layout="row">
							<md-input-container flex class="md-block">
								<label>Name</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container>
							<md-input-container flex class="md-block">
								<label>Description</label> 
								<input ng-maxlength="100"  name="link" ng-model="taskData.link">
							</md-input-container></div>
							</div>
						
							<div flex-gt-sm="75" hide-xs >
							
							</div>
							</div>
						</form>
					</md-card-content>
				</md-card>
			</md-tab>
		</md-tabs> 
	</md-content>
</div>
